body {
  font-family: 'Helvetica Neue', 'Helvetica', 'SegoeUI', 'Roboto', 'Arial', sans-serif;
  background:#f6f6f6;
}

/*#container {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}

#container > p {max-width:20%;}*/

button {
  font-size:inherit;
  padding 0.5rem 1rem;
}

@keyframes animate-transform {
  100% {transform:none;}
}

@keyframes stretch-vertical {
  0% {transform: scaleY(0)}
  100% {transform:none}
}

@keyframes stretch-horizontal {
  0% {transform: scaleX(0)}
  100% {transform:none} 
}

@keyframes stretch-both {
  0% {transform: scale(0,0)}
  100% {transform:none} 
}

@keyframes fade {
  0% {opacity:0};
}


.animate--transform, 
.animate--opacity {
  transition-duration:1s}

.animate-delay {
  transition-delay: 0.5s;
}

.animate--transform {
  transition-property: transform;
}

.animate--opacity {
  transition-property: opacity;
}

.animate--opacity.animate--transform {
  transition-property: transform, opacity;
  transform-origin:center center;
}